.questions-container {
  height: 500px;
  position: absolute;
  width: 700px;
  margin-left: 28%;
  margin-top: 130px;
}

.first-question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border: solid 1px #0067ac;
  padding: 10px;
}

.second-question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border: solid 1px #0067ac;
  padding: 10px;
}