.questions-container {
  height: 400px;
  position: absolute;
  width: 700px;
  margin-left: 28%;
  margin-top: 130px;
}

.first-question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  height: 100%;
  border: solid 1px #0067ac;
  padding: 20px
}

.first-question-label {
  display: flex;
  justify-content: space-around;
  width: 150px;
  align-items: center;
  text-align: left;
}

.second-question {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50%;
  align-items: center;
  border: solid 1px #0067ac;
  padding: 20px;
}

.second-question-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.second-input-option {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 30px;
  justify-content: space-around;
}

.btn-question-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
}

.btn-next-question {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f8f8f8;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin: 25px auto;
  background-color: #0067ac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.btn-next-question:disabled {
  background-color: #c8c3c3;
  color:#5e6366;
  cursor: not-allowed;
}

.btn-prev-question {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f8f8f8;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin: 25px auto;
  background-color: #0067ac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.btn-prev-question:disabled {
  background-color: #c8c3c3;
  color:#5e6366;
  cursor: not-allowed;
}


.btn-send-answers:disabled {
  background-color: #c8c3c3;
  color:#5e6366
}

.btn-send-answers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f8f8f8;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin: 25px auto;
  background-color: #0067ac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.btn-reset {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000000;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin: 25px auto;
  background-color: #eeff41;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}