.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(21, 109, 182, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modal-title {
  margin-bottom: 60px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  align-items: center
}

.modal-input {
  margin: 15px 10px;
  height: 30px;
  padding: 5px;
}

.modal-btn-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f8f8f8;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-top: 25px;
  background-color: #0067ac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.modal-btn-continue:disabled {
  background-color: #c8c3c3;
  color:#5e6366;
  cursor: not-allowed;
}

.modal-btn-exit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f8f8f8;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin: 20px auto;
  background-color: #ff0000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.warning-message {
  color: #0067ac;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
}