.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(21, 109, 182, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modal-title {
  margin-bottom: 50px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  align-items: center
}

.modal-input {
  margin: 20px 10px;
  height: 30px;
  padding: 5px;
}

.modal-btn-continue {
  color: #f8f8f8;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin: 50px auto;
  background-color: #0067ac;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.modal-btn-continue:disabled {
  background-color: #c8c3c3;
  color:#5e6366
}

.modal-btn-exit {
  color: #f8f8f8;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin: auto;
  background-color: #ac0600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}