.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  margin: auto;
  align-items: center;
  background-color: #0067ac;
  position: fixed;
}

.header-logo {
  display: flex;
  background-color: #f8f8f8;
  justify-content: center;
  width: 100px;
  align-items: center;
  height: 50px;
}

.header-user-info {
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 50px;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  color: #f8f8f8
}