.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  margin: auto;
  align-items: center;
  background-color: #0067ac
}

.header-logo {
  display: flex;
  background-color: #f8f8f8;
  justify-content: center;
  width: 300px;
}

.header-user-info {
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
  width: 300px;
}